/*Dash Content*/

.analytics-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview {
    color: #fffcee;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    border: solid #fffcee2d .5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px
}

.page-name {
    font-size: 24px;
    font-weight: 100;
    padding: 0px 10px 30px;
}

.latest-upload {
    height: 500px;

}

.published-uploads {
    height: 300px;
}