body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
}

.content{
    background-color: #333;
    display: flex;
    flex-direction: row;
}

/*HEADER*/
header {
    display: flex;
    position: fixed;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 0px .125px 3px black;
    width: 100%;
}

.channel-search{
    display: flex;
    background-color: #1d1d1d;
    color: #fffceea4;
    height: 35px;
    width: 750px;
    border-radius: 35px;
    padding: 3px;
    padding-left: 36px;
    align-items: center;
    
}

.left-header, .right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 48px;
}

.left-header {
    gap: 36px;
}

.right-header {
    gap: 20px;
}

.left-header-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.left-header-collapse {
    width: 24px;
    height: 24px;
}

.right-header-help { 
    width: 20px;
    height: 20px;
}

.right-header-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fffcee;
    border-radius: 21px;
    border: solid #fffcee8f 1px;
    padding: 8px 15px;
    gap:12px;

}

.right-header-upload-text {
    font-size: 15px;
}

.right-header-upload-icon {
   width: 15px;
   height: 15px; 
}

.right-header-profile {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    object-fit: fill;
}


/*Profile*/
.profile {
    color: #fffcee;
    flex-direction: column;
    padding: 25px 20px 20px;
    background-color: #333;
    text-align: center;
    width: 200px;

}

.profile-image {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: solid #30884c 3px;
    object-fit: cover;
}

.profile-text{
    padding-top: 24px;
    align-items: center;
    padding-bottom: 12px;

}

.profile-name {
    font-size: large;
    font-weight: bold;
    padding-bottom: 7px;

}

.profile-title {
    color:#fffcee93;
    font-size: small;
}


/*Sidebar*/
.sidebar {
    margin-top: var(--header-height, 80px);
    position: fixed;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    border-right: solid #fffcee2d 1px;
}

.sidebar a {
    display: block;
    color: #ddd;
    text-decoration: none;
    margin: 10px 0;
}


.sidebar-nav, .settings{
    width: 200px;
    background-color: transparent;
    color:#fffcee;
}

.settings {
    margin-top: auto;
}

.sidebar-nav-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
}

.sidebar-nav-tab-item {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 4px 24px;
    gap: 36px;
    

}

.sidebar-nav-tab-item:hover {
    background-color: #1d1d1d;
    border-radius: 16px;
}

.sidebar-nav-tab-item-icon {
    width: 20px;
    height: 20px;
}

.sidebar-nav-tab-item-text {
    font-size: 25px;
}


/*Main Content*/
.main-content {
    color: #fffcee;
    padding: 20px;
    flex-grow: 1;
    background-color: transparent;
    padding-top: 100px;
    margin-left: 250px;
}

.analytics-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview {
    color: #fffcee;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    border: solid #fffcee2d .5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px
}

.page-name {
    font-size: 24px;
    font-weight: 100;
    padding: 0px 10px 30px;
}

.latest-upload {
    height: 500px;

}

.published-uploads {
    height: 300px;
}